body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.calc{
    border:5px solid #000000;
    padding: 10px;
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.disp{
    border: 2px solid black;
    width:95%;
    height: 40px;
    display: flex;
    padding:5px;
    justify-content: flex-end;
    align-items: center;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}
.btn{
    height: 95%;
    width: 95%;
}